.form {
	max-width: 100%;

	&__condition {
		margin-bottom: 30px;
	}

	&__field {
		text-align: left;
		margin-bottom: 24px;

		&_flex {
			display: flex;

			.checker {
				width: 50%;
			}
		}

		&_phone {
			margin-bottom: 14px;
		}

		&_star {
			margin-bottom: 14px;
		}
	}
	
	&__field {
		text-align: left;
	}
	
	&__button {
		width: 100%;
	}

	&__result {
		margin-top: 10px;
		font-size: 12px;
		text-align: center;
		color: $red;
	}
}

.input-style {
	border: 1px solid #DDDDDD;
	padding: 0 15px;
	height: 41px;
	width: 100%;
}

.label-style {
	&__hint {
		display: block;
		margin-bottom: 7px;
		font-size: 15px;
	}
}